@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4; /* Light gray background */
    letter-spacing: 2px;
    margin: 20px;
    padding: 20px;
}

.container {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4; /* Light gray background */
    letter-spacing: 2px;
    margin: 20px;
    padding: 20px;
}

title{
    color: #139647;
    font-size: 18px;;
    letter-spacing: 2px;
}

h1 {
    color: #139647;
    font-size: 18px;;
    letter-spacing: 2px;
}

h2 {
    color: #139647;
    font-size: 16px;;
    letter-spacing: 1px;
}

h3 {
    color: black;
    font-size: 14px;;
    letter-spacing: 1px;
}

p {
    font-size: 14px;;
    letter-spacing: 1px;
}

a {
    color: #139647;
    text-decoration: none;
}

li {
    font-size: 14px;;
    letter-spacing: 1px;
}

.logo {    
    color: #139647;
    text-align: center;
    font-size: 18px;;
    letter-spacing: 2px;
}

.spacer {
    height: 100px; /* Adjust height for more/less space */
}


section {
    background: white;
    letter-spacing: 2px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.sidebar {
    position: fixed; /* Keeps sidebar in place when scrolling */
    left: 60px; /* Adjust position from the left */
    top: 40%; /* Position in the middle of the viewport */
    transform: translateY(-50%); /* Center it vertically */
    background: white;
    padding: 10px;
    width: 200px; /* Set a fixed width */
    border-radius: 12px;
}

.main-content {
    margin-left: 100px; /* Adjust this based on sidebar width + spacing */
    padding: 20px;
}

.sidebar img {
    display: block; /* Ensures it's treated as a block element */
    margin: 0 auto; /* Centers it horizontally */
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #139647; 
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.sidebar ul li a:hover {
    background: #6bbd8c;
    color: white;
}

.turtlebar {
    position: fixed; /* Keeps sidebar in place when scrolling */
    left: 60px; /* Adjust position from the left */
    top: 90%; /* Position in the middle of the viewport */
    transform: translateY(-50%); /* Center it vertically */
    background: #f4f4f4;
    padding: 10px;
    width: 200px; /* Set a fixed width */
    border-radius: 12px;
}
